<h1>Listing meats</h1>

<%= link_to "Add Product", new_meat_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @meats.each do |meat| %>
    <tr>
      <td><%= meat.name %></td>
      <td><%= meat.description %></td>
    </tr>
  <% end %>
</table>
