<p>
  <strong>Name:</strong>
  <%= @meat.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @meat.description %>
</p>

<%= image_tag("https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=#{@meat.id}&choe=UTF-8") %>